/* general theme/layout */
    /* Styles for the body */
    body {
        background-color: #fff9f0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0; /* Remove default margin */
        font-family: Nunito, sans-serif;
        flex-direction: column; /* Arrange items vertically */
        color: #656965;
    }

    /* navigation bar */
    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #656965;
        text-align: center; /* Optional: to center the links horizontally */
    }
    nav a {
        text-decoration: none;
        color: #fff5ea;
        padding: 10px 20px; /* 10px top/bottom, 20px left/right */
        display: inline-block;
        margin: 0 150px; /* Adds spacing between links */

    }

    /* Styles for the header text */
    h1 {
        font-family: "Notable", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 100px;
        margin: 0px 10px;
    }

    h2 {
        font-family: "Italiana", sans-serif;
        font-weight: 550;
        font-style: normal;

        color: #656965;
        font-size: 50px; /* Header font size */
        margin-bottom: 0px; /* Space between header and search bar */
        margin-top: 20px;
    }

    h3 {
        font-family: "Hurricane", cursive;
        font-weight: 400;
        font-style: normal;

        font-size: 50px; /* Header font size */
        margin-bottom: 70px; /* Space between header and search bar */
        margin-top: 0px;
    }

