/* Navbar */
    .TrashTagImage {
        background-image: url("images/banner.jpg");
        min-height: 380px;
        background-size: cover;  /* Stretch image to cover the full area */
        background-position: center;  /* Ensure the image is centered */
        background-repeat: no-repeat;
        display: block;  /* Ensures it takes up space */
        width: 100%;
        margin-bottom: 70px;
    }

    /* Position the navbar container inside the image */
    .container {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 0 40px;  /* Some side padding */
    }

    /* The navbar */
    .topnav {
        display: flex;
        align-items: center;
        justify-content: space-around; /* or space-between / center */
        overflow: hidden;
        padding: 14px 20px;
    }

    /* Navbar links */
    .topnav a {
        color: #1a9350;
        text-decoration: none;
        font-size: 17px;
        padding: 14px 16px;
    }

    .topnav a:hover {
        color: #f3e7da;
        background-color: #1a9350;
    }

    .hjem-header {
        margin-top: 50px;
    }


/*ScanPicture & button*/
    .scan-section {
        background-color: #1a9350;
        transition: background-color 0.3s ease;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100vw;  /* Full width of the page */
        padding: 130px 0;
        margin: 80px 0;  /* No auto-margin */
    }

    .scan-section h2 {
        color: #f3e7da;
        font-size: 40px;
        margin-bottom: 20px;
    }

    .scan-section p {
        color: #f3e7da;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .scan-image {
        height: auto;
        width: 200px;
        margin-bottom: 25px;
    }

    .scan-button {
        color: #1a9350;
        background-color: #f3e7da;
        display: inline-block;
        transition: background-color 0.3s ease;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        padding: 14px 30px;
        margin-top: 20px;
    }

    .scan-button:hover {
        background-color: #bee0c7;
    }
    .text-container p {
        text-align: left; /* Ensures text is left-aligned */
    }


/* Rows */
    .row.high {
        display: flex; /* Activate flexbox */
        justify-content: space-between; /* Makes space between the columns */
        gap: 40px; /* Adjusts the space between the columns */
        margin: 0 50px;
        flex-wrap: wrap; /* Ensures that it adjusts to different screens */
    }

    .row.low {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 170px 50px 0;
        flex-wrap: wrap;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }


/* Columns */
    .column.high {
        flex: 1; /* Fills same availible space */
        min-width: 300px; /* Ensures they don't get to small */
    }

    .column.low {
        background-color: #bee0c7;
        flex: 1;
        text-align: center;
        min-width: 200px;
        padding: 20px 20px; /*  Makes text not stick to edges */
    }

    .column h3 {
        color: #1a9350;
        font-family: Nunito, sans-serif;
        font-size: 15px;
        font-weight: bold;
    }

    .column p {
        font-size: 18px;
        text-align: left;
    }

    .column-img {
        width: 100%; /* Makes image responsive */
        max-width: 600px; /* Adjust max size as needed */
    }





