/* Styles for the search bar */
input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #656965;
    border-radius: 5px;
    width: 250px;
    margin-right: 10px;
    margin-top: 20px;
}

/* Styles for the submit button */
form button[type="submit"] {
    padding: 10px 20px;
    background-color: #656965;
    color: #fff9f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

/* Button hover effect */
form button[type="submit"]:hover {
    background-color: #48af50;
}

/* Kamera-knapp øverst */
.scan-top-wrapper {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#camera-button {
    background-color: #656965;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 14px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    white-space: nowrap;
}
#camera-button:hover {
    background-color: #286e34;
}


/* Kamera-container */
#scanner-container {
    display: none;
    width: 100%;
    max-width: 400px;
    height: 300px;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#scanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Søppelkategori-knapper */
.trash-buttons {
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.trash-buttons button:not(#camera-button) {
    background-color: #656965;
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding: 12px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 60px;
    height: 60px;
    text-align: center;
}

.trash-buttons button img {
    width: 28px;
    height: 28px;
}

/* Info-bokser */
.trash-info {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
